@charset "UTF-8";

/*---------------------------------------
【管理画面】投稿仮面のカスタマイズ
/*--------------------------------------*/

/* 全体項目の背景色 */
.edit-post-meta-boxes-area .postbox-header {
  background-color: #add8e6;
}

/* サイドバーの項目のスタイル */
.components-panel__body-toggle.components-button {
  font-weight: bold;
}

/* 右サイドメニューの項目タイトルの背景色k */
.components-panel__body-toggle.components-button {
  background-color: #add8e6;
}

/* タクソノミータームの選択必須ボタンの設置 */
.editor-post-taxonomies__hierarchical-terms-list::before {
  content: '設定してください';
  display: inline-block;
  background-color: #c94800;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  padding: 4px 8px;
  margin: 12px 0;
  text-align: center;
}

/* アイキャッチ画像設定推奨ボタンの設置 */
.editor-post-featured-image::before {
  content: 'アイキャッチ設定推奨';
  display: inline-block;
  background-color: #c94800;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  padding: 4px 8px;
  margin: 12px 0;
  text-align: center;
}

/*---------------------------------------
【管理画面】ACF：カスタマイズ
/*--------------------------------------*/

/* フィールドラベルのフォントスタイル */
.acf-fields .acf-field .acf-label label {
  font-weight: bold;
}

/* 手順の文字色 */
.acf-fields .acf-field p.description {
  color: #ea5532;
}

/* テーブルヘッドのサブフィールドのスタイル */
.acf-table > tbody > tr > th > label,
.acf-table > thead > tr > th > label {
  font-weight: bold;
}

.acf-table > thead > tr > th {
  background: #e8ece9;
}

/* プレイスホルダー */
.acf-input input::placeholder {
  color: #d4dcd3;
}

/* テーブルの枠 */
.acf-table,
.acf-table > tbody > tr > td {
  border-style: none;
}

.acf-table > thead > tr > th {
  border-color: #fff;
  border-width: 0 0 0 2px;
}

/* キャンペーン：サンプル画像 */
.post-type-campaign #acf-group_66a255f2562e7 .acf-fields.-top {
  background: url(../images/common/sample/sample-campaign.png) no-repeat;
  background-size: contain;
  background-position: top right 8px;
}

/* お客様の声：サンプル画像 */
.post-type-voice #acf-group_66a33f1b5fb4f .acf-fields.-top {
  background: url(../images/common/sample/sample-voice.png) no-repeat;
  background-size: contain;
  background-position: top right 8px;
}

/*---------------------------------------
【管理画面】SCF：カスタマイズ
/*--------------------------------------*/
.smart-cf-meta-box-table td .instruction {
  color: #ea5532;
}

.smart-cf-meta-box-table {
  border-bottom: #d4dcd3 solid 2px;
  border: #d4dcd3 solid 2px;
}

.smart-cf-meta-box-repeat-tables table th {
  width: 20%;
  font-weight: bold;
}

.dashicons-plus-alt:before {
  color: #b2222b;
}

.dashicons-plus-alt::after {
  content: '追加';
  margin-left: 3px;
  color: #a9a9a9;
  font-size: 12px;
  vertical-align: top;
}

.dashicons-dismiss:before {
  color: #0000cd;
}

.dashicons-dismiss::after {
  content: '削除';
  margin-left: 3px;
  color: #a9a9a9;
  font-size: 12px;
  vertical-align: top;
}
