@charset "UTF-8";

/*---------------------------------------
【管理画面】投稿仮面のカスタマイズ
/*--------------------------------------*/

/* 全体項目の背景色 */
.edit-post-meta-boxes-area .postbox-header {
  background-color: #add8e6;
}

/* サイドバーの項目のスタイル */
.components-panel__body-toggle.components-button {
  font-weight: bold;
}

/* 右サイドメニューの項目タイトルの背景色 */
.components-panel__body-toggle.components-button {
  background-color: #add8e6;
}

/* タクソノミータームの選択必須ボタンの設置 */
.editor-post-taxonomies__hierarchical-terms-list::before {
  content: '設定してください';
  display: inline-block;
  background-color: #c94800;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  padding: 4px 8px;
  margin: 12px 0;
  text-align: center;
}

/* アイキャッチ画像設定推奨ボタンの設置 */
.editor-post-featured-image::before {
  content: 'アイキャッチ設定推奨';
  display: inline-block;
  background-color: #c94800;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  padding: 4px 8px;
  margin: 12px 0;
  text-align: center;
}


/*---------------------------------------
【管理画面】ACF：カスタマイズ
/*--------------------------------------*/
/* タブの背景色変更 */
.acf-fields>.acf-tab-wrap .acf-tab-group li.active a {
  background: aqua !important;
}

/* フィールドラベルのフォントスタイル */
.acf-fields .acf-field .acf-label label {
  font-weight: bold;
}

/* 手順の文字色 */
.acf-fields .acf-field p.description {
  color: #ea5532;
}

/* テーブルヘッドのサブフィールドのスタイル */
.acf-table > tbody > tr > th > label,
.acf-table > thead > tr > th > label {
  font-weight: bold;
}

.acf-table > thead > tr > th {
  background: paleturquoise;
}

/* プレイスホルダー */
.acf-input input::placeholder {
  color: #e8ece9;
}

.acf-table > thead > tr > th {
  border-color: #fff;
  border-width: 0 0 0 2px;
}


/*---------------------------------------
【管理画面】SCF：カスタマイズ
/*--------------------------------------*/
/* 手順のテキストカラー */
.smart-cf-meta-box-table td .instruction {
  color: #ea5532;
}

.smart-cf-meta-box-table {
  border-bottom: #d4dcd3 solid 2px;
  border: #d4dcd3 solid 2px;
}

/* 項目を増やす+ボタンの色変更 */
.dashicons-plus-alt:before {
  color: #b2222b;
}

/* 項目を削除する×ボタンの色変更 */
.dashicons-dismiss:before {
  color: #0000cd;
}

/* 項目のタイトル */
.dashicons-plus-alt::after {
  content: '追加';
  margin-left: 3px;
  color: #a9a9a9;
  font-size: 12px;
  vertical-align: top;
}

.dashicons-dismiss::after {
  content: '削除';
  margin-left: 3px;
  color: #a9a9a9;
  font-size: 12px;
  vertical-align: top;
}
