@use "global" as *;

/*-----------------------------------------------
  表示させたい要素に js-in-view fade-in を追記する
------------------------------------------------*/
/* スクロールアニメーション：ふわっと出現 */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in.is-in-view {
  opacity: 1;
}