@use "global" as *;

.main {
  position: relative;
}

.main__lower-image {
  background: url(../images/common/horse-illust.png) no-repeat;
  background-size: contain;
  content: '';
  width: rem(120);
  height: rem(55);
  position: absolute;
  top: rem(512);
  left: calc(50% - min(46%, rem(350)));
  z-index: -1;
  @include mq('md') {
    top: rem(656);
    width: rem(301);
    height: rem(138);
    bottom: rem(-246);
    left: calc(50% - min(43%, rem(673)));
  }
}