@use 'global' as *;

.page-contact__inner {
  padding: 0 rem(15);
  @include mq('md') {
    padding: 0 25px;
  }
}

.page-contact__attention {
  width: 100%;
  max-width: rem(480);
  margin: auto;
  border: rem(1) solid $main;
  padding: rem(8) rem(16);
  text-align: center;
}

.page-contact__attention p {
  display: inline-block;
  font-size: rem(14);
  @include mq('md') {
    font-size: rem(16);
  }
}

.page-contact__attention p a {
  font-family: $english-family_2nd;
  font-size: rem(18);
  font-weight: $bold;
  color: $main;
  @include mq('md') {
    font-size: rem(20);
  }
}

.page-contact__form-wrapper {
  max-width: rem(480);
  width: 100%;
  margin: rem(40) auto 0;
  @include mq('md') {
    max-width: rem(700);
    margin: rem(60) auto 0;
  }
}

.page-contact__item {
  padding-bottom: rem(23);
  @include mq('md') {
    padding-bottom: rem(39);
    display: flex;
    align-items: flex-start;
  }
}

.page-contact__select {
  padding-bottom: rem(24);
  @include mq('md') {
    padding-bottom: rem(39);
    display: flex;
    align-items: flex-start;
  }
}

.page-contact__select dd {
  @include mq('md') {
    padding-top: rem(36);
  }
}

.page-contact__select dt,
.page-contact__item:not(:first-of-type) {
  padding-top: rem(24.8);
  @include mq('md') {
    padding-top: rem(40);
  }
}

.page-contact__item-massage dt,
.page-contact__select dt,
.page-contact__item dt {
  width: 100%;
  @include mq('md') {
    width: 29.272727%;
    margin-right: rem(40);
  }
}

.page-contact__item-massage dd,
.page-contact__select dd,
.page-contact__item dd {
  width: 100%;
  @include mq('md') {
    width: 70.727273%;
  }
}

.page-contact__item-massage {
  padding-top: rem(24);
  padding-bottom: rem(20);
  border-top: rem(1) dashed $main;
  border-bottom: rem(1) dashed $main;
  @include mq('md') {
    padding-top: rem(40);
    padding-bottom: rem(34);
    display: flex;
    align-items: flex-start;
  }
}

.page-contact__input,
.page-select__input,
.page-message__input {
  margin-top: rem(18);
  @include mq('md') {
    margin-top: 0;
  }
}

.page-contact__input-check {
  margin-top: rem(15);
  @include mq('md') {
    margin-top: 0;
  }
}

// インプットエリアのスタイル
.page-contact__input input[type='text'],
.page-contact__input input[type='tel'],
.page-contact__input input[type='email'] {
  padding: rem(7) rem(16);
  border: rem(1) solid $main;
  background-color: $base;
  width: 100%;
}

/* プレースホルダー */
/* Google Chrome / Safari / Mozilla Firefox / Opera */
.page-contact__input input[type='text']::placeholder,
.page-contact__input input[type='tel']::placeholder,
.page-contact__input input[type='email']::placeholder {
  font-family: $english-family_2nd, $base-font-family;
  font-size: rem(16);
  color: #f8ccb3;
}

// hover,フォーカス
.page-message__input textarea:hover,
.page-select__input select:hover,
.page-contact__input input[type='text']:hover,
.page-contact__input input[type='tel']:hover,
.page-contact__input input[type='email']:hover,
.page-message__input textarea:focus,
.page-select__input select:focus,
.page-contact__input input[type='text']:focus,
.page-contact__input input[type='tel']:focus,
.page-contact__input input[type='email']:focus {
  box-shadow: 0px 0px 0px 1px rgba(230, 91, 32, 1),
    0px 0px 3px 2px rgba(230, 91, 32, 0.2);
  transition: all 0.3s ease 0s;
}

.page-contact__item {
  border-bottom: rem(1) dashed $main;
}

.page-contact__item-title {
  font-weight: $bold;
  line-height: 1;
  color: $font;
}

.page-contact__item-title label {
  margin-right: rem(4);
  vertical-align: middle;
}

/* ===============================================
# チェックボックススタイル
=============================================== */
.page-contact__input-check input[type='checkbox'] {
  display: inline-block;
  position: relative;
  width: rem(14);
  height: rem(14);
  border: rem(1) solid $main;
  margin: 0;
  margin-right: rem(6.4);
  vertical-align: rem(-1);
  cursor: pointer;
}

.page-contact__input-check input[type='checkbox']::before {
  border-bottom: solid rem(2) $main;
  border-left: solid rem(2) $main;
  content: '';
  display: block;
  height: rem(5);
  left: rem(2);
  opacity: 0;
  position: absolute;
  top: rem(2);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  transition: 0.3s;
  width: rem(9);
}

.page-contact__input-check input[type='checkbox']:checked::before {
  opacity: 1;
}

.page-contact__input-check input[type='checkbox']:hover {
  box-shadow: 0px 0px 0px 1px rgba(230, 91, 32, 1),
    0px 0px 2px 2px rgba(230, 91, 32, 0.2);
  transition: all 0.3s ease 0s;
}

/* ===============================================
# ラジオボタンスタイル
=============================================== */
.page-contact__input-radio input[type='radio'] {
  display: inline-block;
  position: relative;
  width: rem(14);
  height: rem(14);
  border: rem(1) solid $main;
  border-radius: 100vh;
  margin: 0;
  margin-right: rem(6.4);
  vertical-align: rem(-1);
  cursor: pointer;
}

.page-contact__input-radio input[type='radio']::before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: rem(8);
  height: rem(8);
  border-radius: 100vh;
  transform: translate(-50%, -50%);
  background-color: $main;
  cursor: pointer;
  opacity: 0;
}

.page-contact__input-radio input[type='radio']:checked::before {
  opacity: 1;
}

.page-contact__input-radio input[type='radio']:hover {
  box-shadow: 0px 0px 0px 1px rgba(230, 91, 32, 1),
    0px 0px 2px 2px rgba(230, 91, 32, 0.2);
  transition: all 0.3s ease 0s;
}

.page-contact__input-radio label {
  margin-right: rem(20);
}

/* ===============================================
# セレクトボックススタイル
=============================================== */
.page-contact__select select {
  color: $font;
  font-family: $base-font-family;
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1;
  border: rem(1) solid $main;
  background-color: transparent;
  width: 100%;
  height: rem(40);
  padding: rem(8);
}

.page-select__input {
  position: relative;
}

.page-select__input::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(5.5) 0 rem(5.5) rem(9);
  border-color: transparent transparent transparent $main;
  position: absolute;
  margin: auto;
  right: rem(10);
  top: calc(50% - rem(4));
  transform: rotate(90deg) translateX(-50%);
  transition: transform 0.3s ease 0s;
  @include mq('md') {
    right: rem(16);
    top: calc(50% + rem(13));
    transform: rotate(90deg) translateY(-50%);
  }
}

.page-message__input textarea {
  width: 100%;
  height: rem(200);
  border: rem(1) solid $main;
  background-color: $base;
  padding: rem(8) rem(16);
}

.page-contact__privacy-wrapper {
  width: rem(282);
  margin: rem(39) auto 0;
  @include mq('md') {
    margin-top: rem(80);
    width: 100%;
    text-align: center;
  }
}

.page-contact__privacy {
  width: 100%;
  font-size: rem(14);
  margin-left: rem(30);
  line-height: 1.571428;
  @include mq('md') {
    margin-left: rem(18.5);
  }
}

.page-contact__privacy-label {
  position: relative;
  color: $font;
  vertical-align: middle;
}

.page-contact__radioBox-wrap,
.page-contact__checkBox-wrap {
  margin-top: rem(20);
  line-height: 1.655;
  color: $font;
  @include mq('md') {
    margin-top: 0;
  }
}

.page-contact__privacy-link {
  padding-bottom: rem(1);
  border-bottom: rem(1) solid $font;
}

.page-contact__privacy-link:hover {
  opacity: 0.7;
}

.page-contact__submit {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(40);
  }
}

.page-contact__form-wrapper--error {
  margin-top: rem(39);
}

// errorメッセージ
.page-contact__error-message {
  max-width: rem(224);
  width: 100%;
  margin: auto;
  @include mq('md') {
    max-width: rem(350);
  }
}

.page-contact__error-message p {
  text-align: left;
  color: $main;
  font-size: rem(14);
  line-height: 1.5;
  width: 100%;
  padding-left: rem(13);
  text-indent: rem(-13);
  margin-left: rem(0);
  @include mq('md') {
    margin-left: rem(6);
  }
}

/* ===============================================
# Contacform7のタグ
=============================================== */
.page-contact {
  // ラジオボタンとチェックボックスのスタイル
  .wpcf7-list-item {
    margin: 0;
  }

  // お問合せを縦並びに
  .wpcf7-checkbox .wpcf7-list-item {
    display: block;
  }

  // 個人情報取り扱いのチェックボックス
  input[type='checkbox']#form-privacy {
    background: $base;
    border: solid rem(1) $main;
    content: '';
    display: block;
    width: rem(22);
    height: rem(22);
    left: rem(-30);
    position: absolute;
    top: 0;
    transition: 0.3s;
    @include mq('md') {
      left: rem(-39);
    }
  }

  // 個人情報取り扱いのチェックマーク
  input[type='checkbox']#form-privacy::after {
    border-bottom: solid rem(2) $main;
    border-left: solid rem(2) $main;
    content: '';
    display: block;
    height: rem(8);
    opacity: 0;
    position: absolute;
    top: rem(4);
    left: rem(3);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: 0.3s;
    width: rem(14);
  }

  // 個人情報取り扱いのチェックマーク表示
  input[type='checkbox']#form-privacy:checked::after {
    opacity: 1;
  }

  // 個人情報取り扱いのホバー時のスタイル
  input[type='checkbox']#form-privacy:hover {
    box-shadow: 0px 0px 0px 1px rgba(230, 91, 32, 1),
      0px 0px 3px 2px rgba(230, 91, 32, 0.2);
    transition: all 0.3s ease 0s;
  }

  // 送信ボタンのスピナー削除
  .wpcf7-spinner {
    display: none !important;
  }

  //////////////////////////////
  // 必須項目未入力時のスタイル
  //////////////////////////////

  // インプットエリアのスタイル
  textarea.wpcf7-not-valid,
  input[type='text'].wpcf7-not-valid,
  input[type='tel'].wpcf7-not-valid,
  input[type='email'].wpcf7-not-valid {
    border: rem(2) solid $font;
    background-color: rgba(230, 91, 32, 0.2);
  }

  // プレイスホルダー
  input[type='text'].wpcf7-not-valid::placeholder,
  input[type='tel'].wpcf7-not-valid::placeholder,
  input[type='email'].wpcf7-not-valid::placeholder {
    color: $base;
  }

  .wpcf7-not-valid input[type="checkbox"] {
    border: rem(2) solid $font;
    background-color: rgba(230, 91, 32, 0.2);
  }
}
