@use "global" as *;

.page-2rows {
}

.page-2rows__wrapper {
  @include mq("lg") {
    display: flex;
    gap: 7.4074074074074074074%;
  }
}

.page-2rows__main {
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  @include mq("md") {
    max-width: none;
    width: 65.37037037%;
  }
}
