@use 'global' as *;

.pagination {
  margin: 0 auto;
  width: 100%;
}

.pagination .wp-pagenavi {
  display: flex;
  gap: rem(12);
  justify-content: center;
}

// ページネーション共通スタイル
.pagination a,
.pagination span {
  color: $base;
  font-family: $english-family;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
}

// ページネーション通常時のスタイル
.pagination a {
  align-items: center;
  background-color: $base;
  border: rem(1) solid $main;
  color: $main;
  display: inline-flex;
  height: rem(38);
  justify-content: center;
  transition: 0.3s ease;
  width: rem(38);
}

// ページネーション当該ページ部分のスタイル
.pagination span {
  align-items: center;
  background-color: $base;
  border: rem(1) solid $main;
  color: $main;
  display: inline-flex;
  height: rem(38);
  justify-content: center;
  transition: color 0.3s ease;
  width: rem(38);
}

// ページネーション当該ページのスタイル
.pagination span.current {
  background-color: $main;
  color: $base;
}

// ページネーションのホバースタイル
.pagination a:hover {
  background-color: $main;
  color: $base;
}

// ページネーション：矢印部分（元のテキスト非表示）
.pagination .nextpostslink,
.pagination .previouspostslink {
  position: relative;
  color: transparent;
}

.pagination .previouspostslink {
  margin-right: rem(25);
}

.pagination .nextpostslink {
  margin-left: rem(25);
}

.pagination .nextpostslink::before,
.pagination .previouspostslink::before {
  border-bottom: rem(1) solid $main;
  content: '';
  height: rem(12);
  width: rem(12);
  transition: 0.3s ease;
}

// ページネーション矢印部分スタイル
.pagination .previouspostslink::before {
  border-left: rem(1) solid $main;
  transform: translateX(rem(8)) rotate(45deg);
}

.pagination .nextpostslink::before {
  border-right: rem(1) solid $main;
  transform: translateX(rem(1)) rotate(-45deg);
}

// ページネーション矢印部分ホバースタイル
.pagination .nextpostslink:hover,
.pagination .previouspostslink:hover {
  color: transparent;
}

.pagination .previouspostslink:hover::before {
  border-bottom: rem(1) solid $base;
  border-left: rem(1) solid $base;
}

.pagination .nextpostslink:hover::before {
  border-bottom: rem(1) solid $base;
  border-right: rem(1) solid $base;
}

// ブログ詳細：次のページ・前のページ
.pagination--detail {
  max-width: rem(158);
  display: flex;
  justify-content: space-between;
}

.pagination--detail .previouspostslink::before {
  transform: translateX(rem(4)) rotate(45deg);
}

.pagination--detail .nextpostslink::before {
  transform: translateX(rem(-3)) rotate(-45deg);
}