@use "global" as *;

.page-thanks__inner {
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(25);
  }
}

.page-thanks__message {
  width: 100%;
  margin: auto;
  text-align: center;
  color: $font;
  line-height: 1.125;
}

.page-thanks__complete {
  text-align: center;
  line-height: 1.125;
}

.page-thanks__text {
  margin-top: rem(40);
  color: $font;
  line-height: 1.75;
}
